[submodule "ext/googletest"]
	path = ext/googletest
	url = https://chromium.googlesource.com/external/googletest.git
[submodule "paper/wlatex"]
	path = paper/wlatex
	url = https://git.overleaf.com/2820003wnnfsw
[submodule "paper/alfred"]
	path = paper/alfred
	url = https://git.overleaf.com/2985557vgdjnj
